
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
header {
    background-color: aquamarine;
    padding: 10px 20px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    max-width: 100%;
    box-sizing:border-box;
   
    

  
}

nav {
    align-self: center; 
    margin-left: auto;
}

nav ul {
    margin: 0;
    padding:0;
    display: flex;
    gap: 15px;
    list-style-type: none;
    align-items: center

}

nav li {
    margin: 0;
   
}
a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s;
    
}

a:hover{
    color: darkblue;
}
h2 {
    color: #333;
    margin: 20px;
    
  
}
p {
    color: #333;
    margin: 20px;
}
